<h1><%= @subject %></h1>
<br>
<br>
<%= @body.html_safe %>

<br>
<br>
<br>
Sent from Helios CRM. If you wish to unsubscribe, please reply to this email with the subject line "Unsubscribe".

<br>
<br>

